<div class="container m-4">
<div class="card">
    <div class="card-header">
        List of Tasks
    </div>
    <div class="card-body">
      <div class="alert" [ngClass] = "msgClass" role="alert" *ngIf= "showMsg" >
        {{msg}}
      </div>
            <div class="form-inline">
                    <label for="projSearch" class="p-2 font-weight-bold"  >Project:</label>
                    <input type="text" class="form-control" name="projSearch"    [(ngModel)]="projectName" disabled>
                    <span class=" col-2">
                            <input  class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalProjects" value="Search">                         
                    </span>
                    <strong>Sort Task By:</strong>
                    <div class="p-2">
                        <input  class="btn btn-primary" (click)="sortBy('sDate')" type="button" value="Start Date">
                    </div>
                    <div class="p-2">
                        <input  class="btn btn-primary" (click)="sortBy('eDate')" type="button" value="End Date">
                    </div>
                    <div class="p-2">
                        <input  class="btn btn-primary" (click)="sortBy('priority')" type="button" value="priority">
                    </div>
                    <div class="p-2">
                            <input  class="btn btn-primary" (click)="sortBy('status')" type="button" value="Completed">
                        </div>
                  </div>
    </div>
    
</div>

<div class="card">
    
    <div class="card-body">
       <div class="list-group">
           <div class="list-group-item" *ngFor="let item of tasks">
            <div class="row col-12">
                <div class="form-group col">
                  <strong>Task</strong>
                  <div>
                      {{item.Task}}
                  </div>                  
                </div>
                <div class="form-group col">
                        <strong>Parent</strong>
                        <div>
                                {{(item.Parent_Tasks) ? item.Parent_Tasks.Parent_Task: 'No Parent task assigned!'}}
                        </div>                  
                </div>
                <div class="form-group col">
                        <strong>Priority</strong>
                        <div>
                                {{item.Priority}}
                        </div>                  
                      </div>
                      <div class="form-group col">
                            <strong>Start</strong>
                            <div>
                                    {{item.Start_Date | date}}
                            </div>                  
                          </div>
                          <div class="form-group col">
                                <strong>End</strong>
                                <div>
                                        {{item.End_Date| date}}
                                </div>                  
                              </div>
                              <div class="col col-4">
                               <div class="form-inline"> 
                                    <button type="button" name="btnUpdate" class="btn btn-outline-primary" (click)="editTask(item)" >Edit</button>
                                    <span class="p-2"></span>
                                    <button type="button" name="btnEndTask" class="btn btn-outline-primary" (click)="completeTask(item)" >End Task</button>                
                                </div>
                              </div>                                
            </div>

           </div>
           
       </div>
    </div>
    
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalProjects" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Select a Project from the list: </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
               <input class="form-control" type="text" placeholder="Search Projects" (input) = "filterProjects()" [(ngModel)]="filterText" >
                <div class="list-group" *ngFor="let item of projects">
                    <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="filterTask(item)">{{item.Project}}</button>
                    </div>
                  
                </div>             
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>
