<div class="card m-4">
    <div class="card-header">
        Add/Update Task
    </div>
    <form #formAddTask = "ngForm" (ngSubmit) ="formAddTask.form.valid && !dateError && submitTask()" >
    <div class="card-body">
      <div class="alert" [ngClass] = "msgClass" role="alert" *ngIf= "showMsg" >
        {{msg}}
      </div>
            <div class="form-inline">
                    <label class="p-4 font-weight-bold">Project:</label>
                    <input type="text" name="projName" class="form-control" [disabled] = "isParent || isUpdate" readonly #projName="ngModel" [ngClass]="{ 'is-invalid': formAddTask.submitted && projName.invalid }" [(ngModel)]= "project.Project" required > 
                    <span class="p-2">
                            <input  class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalProjects" value="Search" [disabled] = "isParent || isUpdate">                         
                    </span>
                    <div *ngIf="formAddTask.submitted && projName.invalid" class="text-danger p-2">
                            <small *ngIf="projName.errors.required">Project is required</small>
                    </div>                       
                </div>
                <div class="form-inline">
                        <label class="font-weight-bold p-4">Task:</label>
                        <span class=" p-2">                                
                        </span>
                        <input type="text" name="taskName" class="form-control col-4" #taskName="ngModel" [ngClass]="{ 'is-invalid': formAddTask.submitted && taskName.invalid }" [(ngModel)]= "task.Task" required > 
                        <div *ngIf="formAddTask.submitted && taskName.invalid" class="text-danger m-4">
                                <small *ngIf="taskName.errors.required">Task name is required</small>
                        </div>                       
                    </div>
                    <div class="form-inline">
                                                          
                            <div class="form-check font-weight-bold p-4"> 
                                <input class="form-check-input" id="chkParentID" [disabled] = "isUpdate" type="checkbox" name="chkParent" (change)="changeCheck($event.target.checked)" >                               
                                <label for="chkParentID" class="form-check-label">Parent Task</label>
                                
                            </div>
                        </div>
                            <div class="form-inline">
                        
                                    <label for="rngPriority" class="font-weight-bold p-4" >Priority: </label><span class="p-2"></span>
                                    0<input name="rngPriority" class="custom-range" style="width: 500px;"  type="range" value="0"  min="0" max="30" [(ngModel)]="task.Priority" [disabled] = "isParent">30
                               
                            </div>
                            <div class="form-inline">
                                    <label class="p-4 font-weight-bold">Parent Task:</label>
                                    <input type="text" name="parTask" class="form-control" readonly #parTask="ngModel" [ngClass]="{ 'is-invalid': formAddTask.submitted && parTask.invalid }" [(ngModel)]= "parentTask.Parent_Task"> 
                                    <span class="col-2 m-2">
                                            <input  class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalParentTasks" value="Search" [disabled] = "isParent || isUpdate">                         
                                    </span>
                                    <div *ngIf="formAddTask.submitted && parTask.invalid" class="text-danger">
                                            <small *ngIf="parTask.errors.required">First Name is required</small>
                                    </div>                       
                                </div> 
                                
                                <div class="form-inline p-4">
                                    <label for="dtStart" class="font-weight-bold">Start Date:</label>                                                             
                                    <input type="date" class="form-control m-2"  [(ngModel)]="task.Start_Date" #dtStart="ngModel" name="dtStart" [disabled] = "isParent" (blur) = "checkDates()" [ngClass]="{ 'is-invalid': formAddTask.submitted && dtStart.invalid }" required >
                                    <label for="dtStart" class="font-weight-bold">End Date:</label>  
                                    <input type="date" class="form-control m-2"   [(ngModel)]="task.End_Date" #dtEnd="ngModel" name="dtEnd" [disabled] = "isParent" (blur)="checkDates()" [ngClass]="{ 'is-invalid': (formAddTask.submitted && dtEnd.invalid && !isParent) || dateError }" required>
                                    <div *ngIf="dateError" class="text-danger">
                                            <small >End date must be greater than Start Date</small>
                                    </div>  
                                    <div *ngIf="formAddTask.submitted && dtEnd.invalid || formAddTask.submitted && dtStart.invalid" class="text-danger">
                                            <small *ngIf="dtEnd.errors?.required || dtStart.errors?.required">Both Start Date and End date required</small>
                                    </div>
                                </div>
                                                  
                                    <div class="form-inline">
                                            <label class="p-4 font-weight-bold">User:</label>
                                            <input type="text" name="userName" class="form-control" readonly [disabled] = "isParent || isUpdate" #userName="ngModel" [ngClass]="{ 'is-invalid': formAddTask.submitted && userName.invalid }" [(ngModel)]= "user.First_Name" required > 
                                            <span class="p-2">
                                                    <input  class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalUsers" value="Search" [disabled] = "isParent || isUpdate">                         
                                            </span>
                                            <div *ngIf="formAddTask.submitted && userName.invalid" class="text-danger">
                                                    <small *ngIf="userName.errors.required">User is required</small>
                                            </div>                       
                                        </div> 
                                        <div class="d-flex justify-content-end">
                                                <button type="button"  class="btn btn-primary" type="submit"  >{{submitLabel}}</button><span class="p-2"></span>
                                               <button type="reset"  class="btn btn-secondary" (click) = "resetInputs()">Reset</button>
                                           </div>
    </div>
    </form>
    <div class="card-footer">
        Footer
    </div>
</div>

<!-- Modal Projects -->
<div class="modal fade" id="modalProjects" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLongTitle">Select a Project from the list: </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
               <input class="form-control" type="text" placeholder="Search Projects" (input) = "filterProjects()" [(ngModel)]="filterText" >
                <div class="list-group" *ngFor="let item of projects">
                    <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="selectProject(item)">{{item.Project}}</button>
                    </div>                  
                </div>            
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Parent Taks -->
<div class="modal fade" id="modalParentTasks" tabindex="-1" role="dialog" aria-labelledby="modalParentTasksTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Select a Parent Task from the list: </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
               <input class="form-control" type="text" placeholder="Search Parent Tasks" (input) = "filterParentTasks()" [(ngModel)]="filterText" >
                <div class="list-group" *ngFor="let item of parentTasks">
                    <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="selectParentTasks(item)">{{item.Parent_Task}}</button>
                    </div>
                  
                </div>             
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>
<!-- Modal Users -->
<div class="modal fade" id="modalUsers" tabindex="-1" role="dialog" aria-labelledby="modalUsersTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Select a Project from the list: </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
               <input class="form-control" type="text" placeholder="Search Users" (input) = "filterUsers()" [(ngModel)]="filterText" >
                <div class="list-group" *ngFor="let item of users">
                    <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="selectUsers(item)">{{item.First_Name}}</button>
                    </div>                  
                </div>             
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>