        <div class="container">
            <div class="card m-4">
                <div class="card-header">
                    Add User
                </div>
                <form #formAddUser = "ngForm" (ngSubmit) ="formAddUser.form.valid && addUser()" >
                <div class="card-body">
                    <div class="alert" [ngClass] = "msgClass" role="alert" *ngIf= "showMsg" >
                        {{msg}}
                      </div>
                        <div class="form-inline">
                            <label class="p-4 font-weight-bold">First Name:</label>
                            <input type="text" name="fName" class="form-control  m-3" #fName="ngModel" [ngClass]="{ 'is-invalid': formAddUser.submitted && fName.invalid }" [(ngModel)]= "user.First_Name" required > 
                            <div *ngIf="formAddUser.submitted && fName.invalid" class="text-danger">
                                    <small *ngIf="fName.errors.required">First Name is required</small>
                            </div>                       
                        </div>
                        <div class="form-inline">
                                <label class="p-4 font-weight-bold">Last Name:</label>
                                <input type="text" name="lName" class="form-control m-3" #lName="ngModel" [ngClass]="{ 'is-invalid': formAddUser.submitted && lName.invalid }"  [(ngModel)]="user.Last_Name" required>  
                                <div *ngIf="formAddUser.submitted && lName.invalid" class="text-danger">
                                        <small *ngIf="lName.errors.required">Last Name is required</small>
                                </div>                       
                            </div>
                            <div class="form-inline">
                                    <label  class="p-4 font-weight-bold">Employee ID:</label>
                                    <input type="text" name="EmpID" maxlength="20" class="form-control" #EmpID="ngModel" [ngClass]="{ 'is-invalid': formAddUser.submitted && EmpID.invalid }" [(ngModel)]="user.Employee_ID" required>  
                                    <div *ngIf="formAddUser.submitted && EmpID.invalid" class="text-danger m-3">
                                            <small *ngIf="EmpID.errors.required">Employee ID is required</small>
                                    </div>                        
                                </div>
                                <div class="d-flex justify-content-end">
                                        <button type="button"  class="btn btn-primary" type="submit"  >{{submitLabel}}</button><span class="p-2"></span>
                                       <button type="reset"  class="btn btn-secondary" (click) = "resetInputs()">Reset</button>
                                   </div>
                </div>
            </form>
                
            </div>
            <div class="card m-4">
                <div class="card-header">List of Users</div>
                <div class="card-body">
                    
                      
                      <div class="form-inline">
                            <input type="text" class="form-control col-4" name="userSearch"  placeholder="Search Users.." (change)="searchUsers()"  [(ngModel)]="searchInput" >
                            <span class=" col-2">                              
                            </span>
                            Sort By:
                            <div class="p-2">
                                <input  class="btn btn-primary" (click)="sortBy('fName')" type="button" value="First Name">
                            </div>
                            <div class="p-2">
                                <input  class="btn btn-primary" (click)="sortBy('lName')" type="button" value="Lasr Name">
                            </div>
                            <div class="p-2">
                                <input  class="btn btn-primary" (click)="sortBy('empID')" type="button" value="Employee ID">
                            </div>
                            
                          </div>
                        </div>
                          <div class="list-group">
                                <div class="list-group-item" *ngFor="let item of users">
                                    
                                   <div class="row" >
                                        
                                       <div class="col col-10 ">
                                           <div class="form-inline">
                                                <label class="p-2" >User First Name: </label>
                                                <label >{{item.First_Name}} </label>
                                           </div>  
                                           
                                            <div class="form-inline">
                                                    <label class="p-2" >Last Name: </label>
                                                    <label >{{item.Last_Name}}</label>                                                           
                                                </div>   
                                                <div class="form-inline">
                                                        <label class="p-2" >Employee ID: </label>
                                                        <label >{{item.Employee_ID}}</label>                                                               
                                                    </div>                                                                        
                                       </div>
                                       <div class="col d-flex flex-column justify-content-end">
                                            <button type="button" name="btnUpdate" class="btn btn-outline-primary" (click) = "editUser(item)">Edit</button>
                                           <span class="p-2"></span>
                                            <button type="button" name="btnSuspend" class="btn btn-outline-primary" (click)="deleteUser(item)" >Delete</button>
                                        </div>
                                       
                                         </div>
                                         
                                   </div> 
                                  
                                </div>
                                <div class="list-group-item " aria-disabled="true"></div>
                            </div>
                
            </div>         
      
    
