<div class="navbar-header">
  <span class="navbar-brand">Project Manager</span>
</div>
<nav class="nav nav-tabs nav-stacked navbar-light bg-light">
  
  <a class="nav-link" [routerLink]="['/addProject']" routerLinkActive="active" >Add Project</a>
  <a class="nav-link" [routerLink]="['/addTask']" routerLinkActive="active"  >Add Task</a>
  <a class="nav-link" [routerLink]="['/addUser']" routerLinkActive="active" >Add User</a>
  <a class="nav-link" [routerLink]="['/viewTasks']" routerLinkActive="active" >View Task</a>
</nav>
<router-outlet></router-outlet>


