
<div class="container" >   
  
        <div class="card m-4" >
            <div class="card-header">
                Add/Update Project
            </div>
            <div class="card-body"  >
              <div class="alert" [ngClass] = "msgClass" role="alert" *ngIf= "showMsg" >
                {{msg}}
              </div>
                
                <form #formProjects = "ngForm" (ngSubmit) ="formProjects.form.valid && addProject()" >
                <div class="form-inline">
                    <label class="p-4" >Project: </label>
                    <input class="form-control" name="projName" required type="text" [ngClass]="{ 'is-invalid': formProjects.submitted && projName.invalid }" [(ngModel)]="project.Project"  #projName="ngModel">
                    <div *ngIf="formProjects.submitted && projName.invalid" class="text-danger p-2">
                        <small *ngIf="projName.errors.required">Project is required</small>
                </div> 
                </div>
               
                <div class="form-inline p-4">
                        <input type="checkbox" name="chkStDtEndDt" [(ngModel)]="hasStrDtEndDt" (click) = "toggleDates($event)" >
                        <label >Set Start and End Date</label>                       
                    <input type="date" class="form-control m-2" [required] ="hasStrDtEndDt" (blur) = "checkDates()" [ngClass]="{ 'is-invalid': formProjects.submitted && dtStart.invalid }" [disabled]= "!hasStrDtEndDt"  [(ngModel)]="project.Start_Date" name="dtStart" #dtStart="ngModel" >
                    <input type="date" class="form-control m-2" [required] ="hasStrDtEndDt" (blur) = "checkDates()" [ngClass]="{ 'is-invalid': (formProjects.submitted && dtEnd.invalid ) || dateError }" [disabled]= "!hasStrDtEndDt"  [(ngModel)]="project.End_Date" name="dtEnd" #dtEnd="ngModel"  >
                      <div *ngIf="dateError" class="text-danger">
                        <small >End date must be greater than Start Date</small>
                        </div>  
                        <div *ngIf="formProjects.submitted && dtEnd.invalid || formProjects.submitted && dtStart.invalid" class="text-danger">
                                <small *ngIf="dtEnd.errors?.required || dtStart.errors?.required">Both Start Date and End date required</small>
                        </div>

                    </div>
                    <div class="form-inline p-4">
                        
                            <label for="rngPriority" >Priority: </label><span class="p-2"></span>
                            0<input name="rngPriority" class="custom-range p-2" style="width: 500px;" value="0"  type="range"  min="0" max="30" [(ngModel)]="project.Priority" >30
                       
                    </div>
                    <div class="form-inline">
                            <label class="p-4" for="txtManagerName">Manager: </label>
                            <input name="txtManagerName"  class="form-control" type="text" [(ngModel)]="user.First_Name" disabled >
                            <span class="p-2"></span>
                            <button type="button" name="btnSearchUser" id="btnSearchPrj"  class="btn btn-outline-primary" data-toggle="modal" data-target="#modalProjects">Search</button>
                        </div>
                        
                        <div class="d-flex justify-content-end">
                             <button type="button"  class="btn btn-outline-primary" type="submit"  >{{addBtnLabel}}</button><span class="p-2"></span>
                            <button type="reset"  class="btn btn-outline-primary" (click) = "resetInputs()">Reset</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card m-4">
                      <div class="card-header">
                          Project List
                      </div>
                      <div class="card-body"  >
                        <div class="form-group">
                          <input type="text" class="form-control" name="txtSearch"  placeholder="Search.." (change)="searchProjects()"  [(ngModel)]="searchInput" >
                        </div>
                        <div class="form-inline">
                        <div class="row m-4">
                          <strong class="col">
                            Sort By:
                          </strong>
                          <div class="col">
                              <input  class="btn btn-primary" (click)="sortBy('StartDate')" type="button" value="Start Date">
                          </div>
                          <div class="col">
                              <input  class="btn btn-primary" (click)="sortBy('EndDate')" type="button" value="End Date">
                          </div>
                          <div class="col">
                              <input  class="btn btn-primary" (click)="sortBy('Priority')" type="button" value="Priority">
                          </div>
                          <div class="col">
                              <input class="btn btn-primary" (click)="sortBy('Completed')" type="button" value="Completed">
                          </div>
                        </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item" *ngFor="let item of responseSearch">
                                
                               <div class="row bg-light" >
                                    
                                   <div class="col col-6 ">
                                       <div class="form-inline">
                                            <label class="p-2" >Project Name: </label>
                                            <label >{{item.Project}} </label>
                                       </div>  
                                       <div class="form-inline">
                                            <label class="p-2" >No of Tasks: </label>
                                            <label >{{item.NumberofTasks}}</label>                                           

                                            <label class="p-2" >Completed: </label>
                                            <label >{{item.TasksCompleted}} </label>
                                        </div>  
                                        <div class="form-inline">
                                                <label class="p-2" >Start Date: </label>
                                                <label >{{item.Start_Date | date}}</label>
    
                                                <label class="p-2" >End Date: </label>
                                                <label >{{item.End_Date | date}}</label>
                                                
                                            </div>                                                                        
                                   </div>
                                   <div class="col-xs-2 ">
                                        <div class="form-group">
                                        <label class="p-1" >Priority: </label>
                                        <label >{{item.Priority}}</label>
                                       
                                        </div>  
                                     </div>
                                     <div class="d-flex flex-column m-4 justify-content-end">
                                         <button type="button" name="btnUpdate" class="btn btn-outline-primary" (click) = "loadProject(item)">Update</button>
                                        <span class="p-2"></span>
                                         <button type="button" name="btnSuspend" class="btn btn-outline-primary">Suspend</button>
                                     </div>
                               </div> 
                              
                            </div>
                            <div class="list-group-item " aria-disabled="true"></div>
                        </div>
                     
            </div>
</div>
            <div class="card-footer">
                
            </div>        
</div> 
    
    <!-- Modal -->
<div class="modal fade" id="modalProjects" tabindex="-1" role="dialog" aria-labelledby="modalProjectsTitle" aria-hidden="true">
        <div class="modal-dialog odal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Select Manager from the list: </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
                <input class="form-control" type="text" placeholder="Search Projects" (input) = "filterUsers()" [(ngModel)]="filterText" >
                  <div class="list-group" *ngFor="let item of users">
                    <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="selectManager(item)">{{item.First_Name}}</button>
                    </div>
                  
                </div>
              
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>

